<div class="container">
  <div class="row">
    <table class="table">
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product.name %></td>
        <td>$ <%= order.product.price %></td>
        <td>  <%= link_to 'Eliminar Producto', order, method: :delete, remote: true, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    <tr>
      <td> Total: </td>
      <td>$ <%= @orders.map{|order| order.product.price }.sum %></td>
    </tr>
    </table>
  </div>
</div>
