<div class="container">
  <div class="row">
    <div id="refresh">
    <table class="table">
      <% @orders.each do |order| %>
          <tr>
            <td>  <%= order.product.name %> </td>
            <td>$ <%= order.product.price %> </td>
            <td><%= link_to image_tag('botondelete.png', :size => "30x30"), order, method: :delete, remote: true, :id =>"reload" %></td>
          </tr>
      <% end %>
      <tr>
        <td> Total: </td>
        <td>$ <%= @orders.map{|order| order.product.price }.sum %></td>
      </tr>
      </table>
    </div>
  </div>
</div>
