
<div class="container">
  <div class="row">
    <% @billings.each do |billing| %>
      <%= billing.amount %>
      <% billing.orders.each do |order| %>
        <%= order.product.name  %>
      <% end %>
    <% end %>
  </div>
</div>
