/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweetalert2
 */

 body{
   font-family: Montserrat-Regular !important;
   background-color: #F5F5DC !important;
 }

 .formbtn{
   display: inherit;
   margin-top: 8px;
   height: 38px;
 }

 .btnsearch{
   margin-left: 5px;
 }
 .tales {
   width: 100%;
 }
 .carousel-inner{
   width:100%;
   max-height: 200px !important;
 }

#backgrey{
  background-color: white;
}

#register {
  background-color:rgba(25,76,72,0.6);
}

.register{
  color: white;
  font-family: BebasKai;
}


.categories {
  color: grey;
  font-family: BebasKai;
}
h2.register{
 text-align: center;
}

h4 {
  color: grey;
  font-family: BebasKai;
}

.precio{
  font-family: BebasKai;
  color: red;
}

.prodname {
  margin-top: 10px;
  font-family: BebasKai;
  font-variant: normal;
 }
/*
.form-control.form-control-sm{
  background-color: transparent;
}
input#user_name.form-control.form-control-sm{
  background-color: transparent;
}
input#user_email.form-control.form-control-sm{
  background-color: transparent;
}
input#user_password.form-control.form-control-sm{
  background-color: transparent;
}
input#user_password_confirmation.form-control.form-control-sm{
  background-color: transparent;
}
input#user_avatar.form-control.form-control-sm{
  background-color: transparent;
}
input#user_current_password.form-control.form-control-sm{
  background-color: transparent;
}
input#user_remember_me{
  background-image: url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);
}
*/

i.fas.fa-trash{
  color: black;
}
i.fas.fa-edit{
  color: black;
}
tr:nth-child(odd) {
    background-color:#f2f2f2;
}
tr:nth-child(even) {
    background-color:#fbfbfb;
}

@font-face {
    font-family: BebasKai;
    src: url("fonts/BebasKai.otf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('fonts/Montserrat/Montserrat-Regular.otf');
}

.showuser {
  margin-top: 8px;
  color: white;
}

.card {
        width: 15rem;
        margin-bottom: 15px;}


/* footer css */
.bodysize{
  height: 90vh;
}

footer {
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      padding: 20px;
      position: relative;
  }
/* H6 id RRSS*/

#follow-us{
  color: white;
}


.welcomeadmin{
  text-align: center;
  color: black;
  font-weight: bold;
}
/* RRSS Css */

  ul.social-network {
  	list-style: none;
  	display: inline;
  	margin-left:0 !important;
  	padding: 0;
  }
  ul.social-network li {
  	display: inline;
  	margin: 0 5px;
  }

  .social-network a.icoFacebook:hover {
  	background-color:#3B5998;
  }
  .social-network a.icoTwitter:hover {
  	background-color:#33ccff;
  }

  .social-network a.icoInstagram:hover {
  	background-color:#DF0174;
  }
  .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
  .social-network a.icoInstagram:hover i {
  	color:#fff;
  }
  a.socialIcon:hover, .socialHoverClass {
  	color:#44BCDD;
  }

  .social-circle li a {
  	display:inline-block;
  	position:relative;
  	margin:0 auto 0 auto;
  	-moz-border-radius:50%;
  	-webkit-border-radius:50%;
  	border-radius:50%;
  	text-align:center;
  	width: 50px;
  	height: 50px;
  	font-size:20px;
  	background-color: lightgrey;
  }
  .social-circle li i {
  	margin:0;
  	line-height:50px;
  	text-align: center;
  }

  .social-circle li a:hover i, .triggeredHover {
  	-moz-transform: rotate(360deg);
  	-webkit-transform: rotate(360deg);
  	-ms--transform: rotate(360deg);
  	transform: rotate(360deg);
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	transition: all 0.2s;
  }
  .social-circle i {
  	color: #fff;
  	-webkit-transition: all 0.8s;
  	-moz-transition: all 0.8s;
  	-o-transition: all 0.8s;
  	-ms-transition: all 0.8s;
  	transition: all 0.8s;
  }

  /* Bounce efect for products */

  #animated-example {

   margin: 20px auto;

  }

.animated {
    animation-duration: 1s;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.bounceIn {
    animation-name: bounceIn;
}

/*------Sidebar cart-------------*/
.wrapper {
  display: flex !important;

}


.sidebar {
  margin-top: 10px;
  background-color: white;
  height: 50vh;
  position: -webkit-sticky !important;
  position: sticky!important;
  top: 15%!important;
}

#cartelement{
  margin-right: -9px !important;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
