<div class="container bodysize">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div id = register class="col-md-4">
      <h2 class="register">New Product</h2>
      <%= render 'formnew', product: @product %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
