<div class="container bodysize">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <h1>New Product</h1>
      <%= render 'formnew', product: @product %>

    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
